
body { padding-top: 90px; }


.dish-img
{
	position: relative;
	display: flex;

	align-items: center;
	height: 300px;
	overflow: hidden;

	
}


a {
	color: black;
}
a:hover{
	color: black;
}
h3 {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}
h3>a{
	color: #a0001a;
	font-family: sans-serif;
	width: 100%;
	display: block;
}
a:hover
{
	text-decoration: none;
}
.dish {
	position:relative;
	-webkit-box-shadow: 0px -1px 53px -5px rgba(189,189,189,1);
	-moz-box-shadow: 0px -1px 53px -5px rgba(189,189,189,1);
	box-shadow: 0px -1px 53px -5px rgba(189,189,189,1);
	margin-bottom: 30px;
	opacity:0.9;
	transition: all 0.6s;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;

}
.dish:hover{
	opacity:1;
	transform: scale(1.02);
}
/*.dish:hover img{transition: all .2s ease-in-out; transform: scale(1.1); }*/
.dish:hover .title{
	color: #a0001a;
}
.dish-info{
	padding: 5px 15px 15px 15px;
}
.padding-left-20 {
	padding-left: 20px;
}
.space-bottom-5 {
	margin-bottom: 10px;
	display: inline-block;
}


.btn-xs {
	font-size: 10px;!important;
	line-height: 0.5!important;
	padding:5px!important;
}

footer {
	color: #666;
	background: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid #000;    
}
footer a {
	color: #999;
}
footer a:hover {
	color: #efefef;
}
footer p {
	text-align: center;
	// color: #fff;
	margin: 0;
}